@charset "UTF-8";

*{
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(65, 53, 74), rgb(99, 91, 106), rgb(135, 132, 140), rgb(172, 176, 175), rgb(211, 221, 212));
   
}

header { 
    margin-left: 10vw;
}

.logo {
    width: 8%;
    height: 13%;
    z-index: 1;
}

h1  {
    font-family: 'Hanalei', cursive;
    color: #bc7077;
    font-size: 8vw;
    font-weight: normal;
    margin-top: -12vw;
    margin-left: 6vw;
}

main { 
    margin-left: 10vw; 
}

/* video {
    /* box-shadow: rgba(0,0,0,0.5);  */
    /* width: 80vw;
    height: 50vw; */
    /* margin-top: -4.5vw; 
} 
/* generic stuff */

.responsive-video {
	width: 90%;
	height: 0;
}

.ratio-16-9 {
	padding-bottom: 56.25%;
}

.video-js .vjs-big-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.infobox {
 background: white;
 box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.50);
 margin-left: 10vw;
 margin-top: 5vw; 
 width: 80vw;
}

.anatomy { 
    width: 38vw;
    margin-left: 20vw; 
}

.text { 
    display: inline-block;
    width: 70vw;
    margin-left: 5vw;   
}

p {
    color: black;
    font-size: 2vw;
    font-family: Tahoma, Verdana, sans-serif;
}

h3 {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 4vw;
    margin-bottom: -2vw;
    color: black;
}

.container { 
margin-left: 10vw;
margin-top: 5vw;
font-family: Tahoma, Verdana, sans-serif;
border: solid black; 
background: white;
padding: 2vw;
width: 80vw;
line-height: 30px;
opacity: 80%;
}

h2 {
    font-family: Tahoma, Verdana, sans-serif;
    margin-bottom: -2vw;
    color: #fe674d;
}

input {
    width: 60vw;
}

textarea {
    width: 75vw;
}

footer {
    color: black;
    margin: 10vw;
}

/*POP UP BOX STYLING*/

.popUpBox{
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 40%;
    background-color: rgba(0,0,0,.4);
    top: 25%;
    left: 10%;
    padding: 10px;
    font-size: 20px;
    font-family: monospace;
}

.popUpBox.hidden{
	display: none;
}

/*link styling*/
a{
    text-decoration: none;
}


